body {
  background-color: rgba(253, 179, 51, 99);
  font-family: sans-serif;
}

h1, h2 {
  margin: 4px 0px 10px;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
  text-decoration: underline;
}

p {
  text-indent: 40px;
  margin-bottom: 4px;
}

header {
  text-align: center;
  color: rgb(0, 26, 48);
}

main div {
  width: 640px;
  border: 4px black solid;
  border-radius: 10px;
  padding: 5px;
  color: white;
  background-color: rgba(250, 131, 62, 98);
  margin: 5px auto;
}  

#name {
  font-weight: bold;
}

/*
https://stackoverflow.com/questions/32039846/can-i-use-css-to-add-a-bullet-point-to-any-element 
How to style ol's and ul's correctly
*/

li {
  display: list-item;
  list-style-position: inside;
  margin-left: 10px;
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style-type: disc;
}

strong {
  font-weight: bold;
}